body{
    background-image: url(./images/istockphoto-1182393436-612x612.jpg);
    padding: 0;
    margin: 0;
}

.header{
    background-color:#ffb3ba;
    padding: 5px;
    margin-top:10px ;   
}

h1{
    margin: 10px;
    text-align: center;
}

h2{
    background-color:#bae1ff;
    text-align: center;
    padding:10px;
}
h4{
    margin-top: 4px;
    padding: 0;
    text-align: left;
    margin-bottom: 0;
}
.head{
    margin: 20px;

}
.head1 h2{
    background-color: #8cfe9f;
    padding-left: 80px;
    padding-right: 80px;
    
}
.head2 h2{
    background-color: #f25a3f;
    padding-left: 80px;
    padding-right: 80px;
}
.head3 h2{
    background-color: #f2bf3f;
    padding-left: 80px;
    padding-right: 80px;
}
.head1{
    justify-items: center;
}
.head2{
    justify-items: center;
}
.head3{
    justify-items: center;
}
.grid-container{
    display: grid;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
    padding-bottom: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:30px;
}
.box{
    background-color:#333;
    color: wheat;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    height: 450px;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    align-items:stretch;
    gap: 10px;
}
.box img{
    width: 100%;
    height:270px;
    object-fit: cover;
}
.box h1{
    font-size: 18px;
    margin: 0;
}
.box h6{
    text-align: left;
    margin: 0;
    font-size: small;
    color: aliceblue;
    min-height: 50px;
}
.box h4{
    margin: 5px 0;
}
.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-self: end;
}
.button-container button{
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: #c94444;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.button-container button:hover {
    background-color: #a83232;
}
